/**
 * @name Discord Void
 * @author PITR (pitr.dev)
 * @version 1.0-pre1
 * @description Black
 * @source https://gitlab.com/PITR_DEV/discord-void-theme
*/

@import url('https://pitr_dev.gitlab.io/discord-void-theme/theme.css');

/* Variable Overwrites */
:root {
    --background-main    : black;
    --background-second       : rgb(15, 15, 20);
    --background-third          : rgb(30, 30, 40);

    --desaturated-green: rgb(106, 146, 125);
    --desaturated-red: rgb(173, 95, 95);
    --desaturated-blue: #7f86d8;

    --nav-height      : 32px;
    --nav-button-width: 46px;
}
