/* Variables */
:root {
    --background-main    : black;
    --background-primary : var(--background-main);
    --background-tertiary: var(--background-main);

    --background-second       : rgb(15, 15, 20);
    --background-secondary    : var(--background-second);
    --background-secondary-alt: var(--background-second);
    --background-message-hover: var(--background-second);

    --background-third                         : rgb(30, 30, 40);
    --channeltextarea-background               : var(--background-third);
    --background-accent                        : var(--background-third);
    --background-floating                      : var(--background-third);
    --deprecated-quickswitcher-input-background: var(--background-third);
    --background-modifier-selected             : var(--background-third);

    --desaturated-green: rgb(106, 146, 125);
    --desaturated-red  : rgb(173, 95, 95);
    --desaturated-blue : #7f86d8;

    --brand-experiment: var(--desaturated-blue) !important;
    --divider-color   : var(--desaturated-red);
    --text-positive   : var(--desaturated-green);

    --nav-height      : 32px;
    --nav-button-width: 46px;
}

/* Titlebar Word Mark */
.wordmarkWindows-2dq6rw {
    padding: 9px 10px 3px;
    opacity: 0.5;
}

/* Navbar */
.withFrame-2dL45i {
    background-color: var(--background-main);
    height          : var(--nav-height);
    margin-top      : unset;
}

/* Navbar Buttons */
.winButton-3UMjdg {
    height: var(--nav-height);
    width : var(--nav-button-width);
    top   : 0px;
}

/* Top Menu Bar */
.container-1r6BKw.themed-ANHk51 {
    background-color: var(--background-main);
}

/* Library Button */
.lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background-color: var(--background-third) !important;
}

/* Friends List */
.theme-dark #online-tab, .theme-dark #all-tab, .theme-dark #pending-tab, .theme-dark #blocked-tab   {
    background-color: var(--background-main);
}

/* Add Friend Button */
.container-1D34oG>.themed-ANHk51>.children-19S4PO>.topPill-30KHOu>div:last-child[aria-selected="false"] {
    background-color: var(--desaturated-green) !important;
}

.container-1D34oG>.themed-ANHk51>.children-19S4PO>.topPill-30KHOu>div[aria-selected="true"]:last-child {
    color           : var(--desaturated-green) !important;
    background-color: var(--background-modifier-selected);
}

/* Stage Discovery Start a Stage (and probably more) */
.colorGreen-29iAKY {
    background-color: var(--desaturated-green) !important;
}

/* Above Friends List Menu List End Gradient */
.theme-dark .children-19S4PO:after {
    /* display: none; */
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, var(--background-main));
}

/* Active Now Panel */
.container-lRFx4q {
    background-color: var(--background-main);
}

/* Chat User List */
.members-1998pB,
.members-1998pB>div {
    background-color: var(--background-main);
}

/* Chat Scroll */
.scroller-kQBbkU::-webkit-scrollbar,
.scrollerBase-_bVAAt::-webkit-scrollbar {
    background-color: var(--background-main);
}

.scroller-kQBbkU::-webkit-scrollbar-thumb,
.scrollerBase-_bVAAt::-webkit-scrollbar-thumb {
    background-color: var(--background-third);
}

.scroller-kQBbkU::-webkit-scrollbar-track,
.scrollerBase-_bVAAt::-webkit-scrollbar-track {
    background-color: var(--background-second);
}

/* Chat New Dividers */
.divider-JfaTT5 {
    --divider-color: var(--desaturated-red);
}

/* Server Channels and Stuffs */
.container-3w7J-x {
    background-color: var(--background-second);
}

.sidebar-2K8pFh {
    border-radius: 8px 8px 0 0 !important;
    border       : solid var(--background-third) 1px;
}

/* Find or start a conversation input field */
.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
    border-radius: 10px;
    height       : 32px;
    border       : 1px var(--background-third) solid;
    text-align   : center;
}

/* Role names and mention button*/
.roleColor-rz2vM0,
.mentionButton-3710-W {
    filter: saturate(0.7);
}

/* Boost Poop Icon */
.flowerStarContainer-3zDVtj {
    filter: saturate(0.4);
}

/* You're viewing older messages and more */
.replyBar-1YLQ2F,
.threadSuggestionBar-2ufK2Z,
.jumpToPresentBar-G1R9s6 {
    background-color: var(--background-third);
    opacity         : 1;
}

/* Chat Input Field */
.scrollableContainer-2NUZem {
    border       : 1px solid black;
    border-radius: 8px;
}

/* Search Panel */
.container-3ayLPN {
    background-color: var(--background-third) !important;

}

/* Serach Panel Selected */
.option-96V44q.selected-rZcOL-,
.focused-2bY0OD {
    background-color: var(--background-second) !important;
}

.option-96V44q.selected-rZcOL-:after {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), var(--background-second) 50%) !important;
}

.option-96V44q:after {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), var(--background-third) 50%) !important;
}

/* Enter Button Search */
.dim-1l4L4y span {
    background-color: var(--desaturated-blue) !important;
}

/* Search Element */
.searchAnswer-3Dz2-q,
.searchFilter-2ESiM3 {
    background-color: var(--background-third) !important;
}

/* Icons (such as the in-chat call icon) */
.iconContainer-3GkGRf {
    filter: saturate(0.4);
}

/* Upload Dialog */
.footer-3mqk7D,
.uploadModal-2ifh8j {
    background-color: var(--background-secondary) !important;
}

/* Server List Server Icon
.wrapper-25eVIn {
    filter: saturate(0.5);
}
.wrapper-25eVIn > svg > foreignObject > .selected-bZ3Lue {
    filter: saturate(2);
} */

/* #app-mount {
    transition: filter 50000ms ease-in-out;
    filter: saturate(0.2);
}

#app-mount:hover {
    transition: filter 500ms ease-in-out;
    filter: saturate(1);
} */
